# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules
**/node_modules

# Build directories
dist
build

# Environment files (if you pass .env separately)
.env
.env.local

# OS files
.DS_Store
Thumbs.db

# IDE/editor folders
.vscode/
.idea/

# Git
.git
.gitignore

# Docker files (optional)
Dockerfile
docker-compose.yml

# Others
*.md