version: "3.9"

services:
  frontend:
    image: yash4256/transyobe_frontend:latest
    container_name: frontend-transyobe
    restart: unless-stopped
    ports:
      - "5173:80"
    networks:
      - app-network
    environment:
      - VITE_API_URL=http://backend:8000/api/v1
    depends_on:
      - backend

  backend:
    image: yash4256/transyobe-backend:latest  
    container_name: backend-transyobe
    restart: unless-stopped
    ports:
      - "8000:8000"     
    env_file:
       - ./backend/.env 
    networks:
      - app-network
    depends_on:
      - mongo

  mongo:
    image: mongo:7.0
    container_name: transyobe-mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

volumes:
  mongo-data:

networks:
  app-network:
    driver: bridge